<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head>
        <meta charset="UTF-8">
        <title>Birdpedia</title>

        <style>
            .popupBox {
                display: none;
                position: fixed;
                top: 30px;
                right: 7px;
                background-color: blue;
                color: #fff;
                padding: 8px;
                border-radius: 5px;
            }
        </style>

    </head>

    <body>
        <a href="/logout">Logout</a>
        <a href="/birdfeed">Bird Feed</a>
        <a href="/profile">Profile</a>
        <a href="/birdpedia">Birdpedia</a>
        <h1 class="page_title">Birdpedia</h1>



        <th:block th:each = "letter : ${#numbers.sequence(0,25)}">

            <h3 th:text = "${alphabet[letter]}"></h3>
            <ul>
                <li th:each = "bird : ${alphabeticalBirdsList[letter]}" th:id="'bird_' + ${bird.getId()}">
                    <a th:href="@{/birdpedia/{birdId}(birdId = ${bird.getId()})}">
                        <p th:text = "${bird.getName()}"></p>
                    </a>
                    <div th:id="'bird_'+${bird.getId()}+'_popup'" class = "popupBox" th:text = "'Hello, I am the ' + ${bird.getName()}"></div>
                </li>
            </ul>

        </th:block>



        <script th:inline="javascript">

            const elementToHover = document.getElementById([[${bird_81}]]);
            const elementToPopup = document.getElementById([[${bird_81}+'_popup']]);

            elementToHover.addEventListener('mouseenter',() => {elementToPopup.style.display = 'block'; });
            elementToHover.addEventListener('mouseleave',() => {elementToPopup.style.display = 'none';});

        </script>

        <script th:inline="javascript">
            const elementToHover22 = document.getElementById([[${bird_22}]]);
            const elementToPopup22 = document.getElementById([[${bird_22}+'_popup']]);

            elementToHover22.addEventListener('mouseenter',() => {elementToPopup22.style.display = 'block'; });
            elementToHover22.addEventListener('mouseleave',() => {elementToPopup22.style.display = 'none';});

        </script>

        <script>



        </script>

<!--        <th:block th:each = "bird : ${htmlBirdIds}">-->

<!--            <script th:inline="javascript">-->
<!--                            const [['birdId_hover_'+${bird}]] = document.getElementById([['birdId_' + ${bird}]]);-->
<!--                            const [['birdId_popup_'+${bird}]] = document.getElementById([['bird_' + ${bird} + '_popup']]);-->

<!--                            [['birdId_hover_'+${bird}]].addEventListener('mouseenter',() => {[['birdId_popup_'+${bird}]].style.display = 'block'; });-->
<!--                            [['birdId_hover_'+${bird}]].addEventListener('mouseleave',() => {[['birdId_popup_'+${bird}]].style.display = 'none';});-->
<!--            </script>-->
<!--        </th:block>-->



    </body>
</html>