<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head>
        <meta charset="UTF-8">
        <title>Birdpedia</title>

        <style>
            .popupBox {
                display: none;
                position: fixed;
                top: 30px;
                right: 7px;
                background-color: blue;
                color: #fff;
                padding: 8px;
                border-radius: 5px;
            }
        </style>

    </head>

    <body>
        <a href="/logout">Logout</a>
        <a href="/birdfeed">Bird Feed</a>
        <a href="/profile">Profile</a>
        <a href="/birdpedia">Birdpedia</a>
        <h1 class="page_title">Birdpedia</h1>



        <th:block th:each = "letter : ${#numbers.sequence(0,25)}">

            <h3 th:text = "${alphabet[letter]}"></h3>
            <ul>
                <li th:each = "bird : ${alphabeticalBirdsList[letter]}" th:id="'bird_' + ${bird.getId()}">
                    <a th:href="@{/birdpedia/{birdId}(birdId = ${bird.getId()})}">
                        <p th:text = "${bird.getName()}"></p>
                    </a>
                    <div id="elementToPopup" class = "popupBox">Popped Up Content - Javascript Approach</div>
                </li>
            </ul>

        </th:block>


<!--        <script>-->
<!--            const elementToHover = document.getElementById('bird_81');-->
<!--            const elementToPopup = document.getElementById('elementToPopup');-->

<!--            elementToHover.addEventListener('mouseenter',() => {elementToPopup.style.display = 'block'; });-->
<!--            elementToHover.addEventListener('mouseleave',() => {elementToPopup.style.display = 'none';});-->
<!--        </script>-->

        <script th:inline="javascript">
<!--            /*<![CDATA[*/-->
<!--            ...-->
            const elementToHover = document.getElementById([[${bird_81}]]);
            const elementToPopup = document.getElementById('elementToPopup');

            elementToHover.addEventListener('mouseenter',() => {elementToPopup.style.display = 'block'; });
            elementToHover.addEventListener('mouseleave',() => {elementToPopup.style.display = 'none';});
<!--            ...-->
<!--            /*]]>*/-->
        </script>

    </body>
</html>