<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>

<h1>Edit Your Profile</h1>

<form th:action="@{/profile/edit-page}"
      th:object="${user}"
      method="post"
      enctype="multipart/form-data">

    <label for="profilepicture">Profile Picture</label><br>

    <img th:src="@{'/images/' + ${user.profilepicture}}"
         alt="Profile picture"
         style="width:120px; height:120px; object-fit:cover; border-radius:8px;"/>

    <br><br>

    <div class="form-field">
        <label for="profile-picture-input">Upload a profile picture</label>
        <input id="profile-picture-input" class="input" type="file" name="imageFile"
               accept="image/png, image/jpeg, image/jpg"/>
    </div>

    <br><br>

    <label for="bio">Bio</label><br>
    <textarea id="bio" name="bio" rows="4" cols="50"
              th:field="*{bio}"></textarea>
    <br><br>

    <label for="dateofbirth">Date of Birth</label><br><br>
    <input type="date" id="dateofbirth" name="dateofbirth"
           th:field="*{dateofbirth}">
    <br><br>

    <input type="submit" value="Save Changes">

</form>

</body>
</html>

