<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >

    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>

    <body>
    <a href="/logout">Logout</a>
    <a href="/birdfeed">Bird Feed</a>
    <a href="/my-aviary">Profile</a>
    <a href="/birdpedia">Birdpedia</a>

    <p><strong>User details:</strong></p>

    <h3 th:text="${user.username}"></h3>
        <img th:src="@{'/images/' + ${user.profilepicture}}"
         class="user-img"
         alt="Nav Profile Picture"
             style="width:120px; height:120px; object-fit:cover; border-radius:8px;">

        <h1>Post History</h1>

    <p th:each="post: ${userPosts}" th:text="${post.getContent()}"></p>

    <p> Bio:
            <br><br>
            <span th:text="${user.bio}"></span>
            <br><br>
<!--            Date of Birth:-->
<!--            <br><br>-->
<!--            <span th:text="${user.dateofbirth}"></span>-->
            </p>

    </body>

</html>