<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >

    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>

    <body>
    <a href="/logout">Logout</a>
    <a href="/birdfeed">Bird Feed</a>
    <a href="/profile">Profile</a>

        <h1>Post History</h1>

        <p th:each="post: ${userPosts}" th:text="${post.getContent()}"></p>
        <p>User details:</p>
        <p th:text="${user}"></p>
        <img th:src="@{/images/default-profile-pic.jpg}"
         class="user-img"
         alt="Nav Profile Picture" />
        <img th:src="@{'/images/' + ${user.profilepicture}}"
         class="user-img"
         alt="Nav Profile Picture" />

    </body>

</html>