<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/birdfeed">Bird Feed</a>
    <a href="/profile">Profile</a>
    <a href="/birdpedia">Birdpedia</a>
    <h1>Could you not SQL inject my website? Thanks.</h1>
    <img src="https://media1.giphy.com/media/v1.Y2lkPTZjMDliOTUydTJyZ3g5dWh5dWxrejN4dWs2eDc4M3RwM2d6eWxlNjdycnFzb3JvbSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3knKct3fGqxhK/giphy.gif" alt="">
</body>
</html>