<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >

    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>

    <body>
    <a href="/logout">Logout</a>
    <a href="/birdfeed">Bird Feed</a>
    <a href="/my-aviary">Profile</a>
    <a href="/birdpedia">Birdpedia</a>

    <h3 th:text="${user.username}"></h3>
    <img width="300" th:src="@{'/images/' + ${user.profilepicture}}"
         class="user-img"
         alt="Nav Profile Picture" />

    <form th:action="@{/follow-unfollow/{followingId} (followingId = ${user.getId()})}" method="post">
        <button type="submit" th:text="${isFollowingBool} ? 'Unfollow' : 'Follow'"></button>
    </form>



    <h3>Post History</h3>

<!--    <p th:each="post: ${userPosts}" th:text="${post.getContent()}"></p>-->

    </body>

</html>